{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
Forum Lowongan
{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/user_forum.css' %}"/>
{% endblock %}

{% block content %}
  <h1 class="judul">Forum</h1>
  <div class="forum_lowongan">
  {% for data in lowongan %}
    <div class="item margin10px">
      <h4>{{ data.lowongan }}</h4>
    </div>
  {% endfor %}
  </div>
  <div class="pagination margin10px">
    <span class="step-links">
      {% if lowongan.has_previous %}
      <a href="?page={{ lowongan.previous_page_number }}">previous</a>
      {% endif %}
      <span class="current">
        Page {{ lowongan.number }} of {{ lowongan.paginator.num_pages }}.
      </span>
      {% if lowongan.has_next %}
        <a href="?page={{ lowongan.next_page_number }}">next</a>
      {% endif %}
    </span>
  </div>
  <br>
  <center>
    <button onclick="tambah_forum()">Tambah Forum Lowongan</button>
  </center>

{% endblock %}

{% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    function tambah_forum() {
      var html = '<div id="tambah-forum">' +
      '<textarea id="field_forum" cols="50" rows="4" type="text" placeholder="Masukkan deskripsi..." class="status-form-textarea margin10px" maxlength="150" required ></textarea>' +
      '<br>' +
      '<button class="margin10px" onclick="tambah_lowongan()">Submit</button>' +
      '</div>';
      $(".forum_lowongan").append(html);
    };

    function tambah_lowongan() {
      var input = $('#field_forum').val();
      $.ajax({
        method: "POST",
        url: '{% url "forum:add-lowongan" %}',
        data: {'input' : input},
        dataType: 'json',
        success : function(response) {
          $('#tambah-forum').remove();
          alert("Berhasil Ditambahkan");
        },
        error : function(error) {
          alert("error")
        }
      });
    };
  </script>
{% endblock %}
