<nav class="navbar navbar-inverse navbar-fesbuktwo">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'browse:index' %}">FESBUKTWO</a>
        </div>
        
        <ul class="nav navbar-nav navbar-right">
            {% if is_authorized %}
                <li id="navbar-nav-company"><a href="{% url 'profile:index' %}">BukaHati</a></li>
                <li><a href="{% url 'login:auth_logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            {% else %}
                <li><a href="{% url 'login:auth_login' %}"><span class="glyphicon glyphicon-log-in"></span>&nbsp Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<div id="navbar-space"></div>
