button {
    width: 15%;
    padding: 8px 0;
    font-size: 18px;
    border-radius: 5px;
    background-color: #234E58;
    color: white;
    border-width: 0;
}

.judul {
  text-align: center;
}

textarea {
  resize: none;
  width: 50%;
}

.margin10px{
  margin: 10px;
}

.item{
  background: white;
  width: 370px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  height: 150px;
  margin-bottom: auto;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
}
