.segment-feed{

}

.company-list {

}

.company-item {
	margin: 10px 0px;
	padding: 10px 20px 20px;

	background-color: #FFFFFF;
	border-radius: 5px;
	border-color: #7E7E7E;

	box-shadow: 3px 3px 5px #BCBCBC;
	transition-duration: 0.2s;

}

.company-item:hover {
	box-shadow: 5px 5px 5px #BCBCBC;
}

.company-item>p {
	word-wrap: break-word;
}
