
.navbar-fesbuktwo {
    background-color: #234E58;
    border-bottom: 0;
}

@media (min-width: 768px) {
    .navbar-fesbuktwo {
        position: fixed;
        top: 0;
        border-radius: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

.navbar-fesbuktwo .navbar-brand {
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-size: 22px;
    font-style: bold;

}

.navbar-fesbuktwo .navbar-nav>li>a {
    color: #CACACA;
    font-family: "Lato", sans-serif;
    font-size: 16px;

    -webkit-transition: 0.2s; /* Safari */
    transition: 0.2s;
}

.navbar-fesbuktwo .navbar-nav>li>a:hover {
    color: #FFFFFF;
    background-color: #012730;
}

#navbar-nav-company>a:hover {
    background-color: #588F66;
}


@media (min-width: 768px) {
    #navbar-space {
        height: 60px;
    }
}
