#profile-page {
  background-color: white;
  margin: 0 9%;
  padding: 1% 3%;
  width: auto;
  font-family: "Lato", sans-serif;
}

#company-photo {
  margin-top: 2%;
  width: 100%;
  text-align: center;
}

#buttons {
  margin-top: 4%;
  text-align: center;
}

#buttons button {
  width: 15%;
  padding: 8px 0;
  font-size: 18px;
  border-radius: 5px;
  background-color: #234E58;
  color: white;
  border-width: 0;
}

#buttons button+button {
  margin-left: 5%;
}

#company-profile {
  margin-top: 6%;
  margin-bottom: 0.8%;
  font-size: 20px;
}

.tables+.tables {
  margin-top: 4%;
}

.tables {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  grid-gap: 5px;
}

.table-left {
  grid-column: 1;
}

.table-right {
  grid-column: 2;
}
