{% extends 'layout/base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}"/>
{% endblock %}

{% block content %}
  <br>
  <div id="profile-page">
    <div id="welcome-message">
      <h2>Selamat Datang, BukaHati</h2>
    </div>
    <div>
      <div id="company-photo">
        <img src="https://www.freelogodesign.org/img/logo-ex-1.png" width="auto" height="300px">
      </div>
      <div id="buttons">
        <button onclick="window.location.href='/forum'">Lihat Forum</button>
        <button>Cari Mahasiswa</button>
      </div>
    </div>
    <hr>
    <div id="company-profile">
      <div class="tables">
        <div class="table-left">
          Tipe Perusahaan
        </div>
        <div class="table-right">
          {{ company.company_type }}
        </div>
      </div>
      <div class="tables">
        <div class="table-left">
          Web Perusahaan
        </div>
        <div class="table-right">
          {{ company.website_url }}
        </div>
      </div>
      <div class="tables">
        <div class="table-left">
          Spesialitas
        </div>
        <div class="table-right">
          {{ company.specialties }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
