{% extends 'layout/base.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}
Profile Perusahaan
{% endblock %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block content %}
<section>
    <div class="jumbotron">
        <div class="container">
            <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
            <h1 class="display-3">We Love PPW</h1>
            <p>Welcome to our company page</p>
            <!-- sign in with linkedin button -->
            <p id="baton"></p>
            <div id="profileData" style="display: none;">
                <p id="name"></p>
            </div>
            <script type="in/Login" style="width: 5rem"></script>
        </div>
    </div>
    <div class="container">

    </div>
</section>

{% endblock %}

{% block scripts %}
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous">
</script> 
<script type="text/javascript" src="//platform.linkedin.com/in.js">
	api_key:   816q7p5prpfiv7
	onLoad:    onLinkedInLoadCompany
	authorize: true
</script>
<script src="{% static 'js/login.js' %}"></script>
{% endblock %}
