{% extends 'layout/base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/browse.css' %}"/>
{% endblock %}

{% block scripts %}
<script type="application/javascript" src="{% static 'js/browse.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container segment-feed">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-push-1">
            <div class="company-list">
                
            </div>
        </div>
    </div>
</div>

{% endblock %}
